Ben Sinclair <ben.d.sinclair@gmail.com> <bsinclai@turing.une.edu.au>
Joachim Fasting <joachifm@fastmail.fm> <joachim.fasting@gmail.com>
Joachim Fasting <joachifm@fastmail.fm> joachifm <joachifm@lavabit.com>
Joachim Fasting <joachifm@fastmail.fm> joachifm <joachifm@users.noreply.github.com>
Gwern Branwen <gwern0@gmail.com>
Daniel Schoepe <daniel.schoepe@gmail.com> <asgaroth_@gmx.de>
Andrzej Rybczak <electricityispower@gmail.com>
Simon Hengel <sol@typeful.net> <simon.hengel@wiktory.org>
Daniel Wagner <daniel@wagner-home.com>
Sergei Trofimovich <slyfox@gentoo.org>
Niklas Haas <haskell@nand.wakku.to> nand <git@nand.wakku.to>
Niklas Haas <haskell@nand.wakku.to> nand <nand@lavabit.com>
Simon Gomizelj <simongmzlj@gmail.com>
Dmitry Malikov <malikov.d.y@gmail.com>
