Ben Sinclair <ben.d.sinclair@gmail.com> <bsinclai@turing.une.edu.au>
Joachim Fasting <joachifm@fastmail.fm> <joachim.fasting@gmail.com>
Joachim Fasting <joachifm@fastmail.fm> <joachifm@lavabit.com>
Joachim Fasting <joachifm@fastmail.fm> <joachifm@users.noreply.github.com>
Gwern Branwen <gwern0@gmail.com>
Daniel Schoepe <daniel.schoepe@gmail.com> <asgaroth_@gmx.de>
Simon Hengel <sol@typeful.net> <simon.hengel@wiktory.org>
Niklas Haas <haskell@nand.wakku.to> <git@nand.wakku.to>
Niklas Haas <haskell@nand.wakku.to> <nand@lavabit.com>
